body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

.marker-popup {
  text-align: center;
}

.honor-roll {
  outline: medium dotted orange;
  outline-offset: 2.5px;
  border-radius: 50%;
}

.recommended {
  outline: medium dotted OrangeRed;
  outline-offset: 2.5px;
  border-radius: 50%;
}

.center {
    justify-content: center;
}

.splash {
    margin-top: 7.5%;
    text-align: center;
}

p {
    margin: 7.5% 0 7.5% 0;
}

ul.instructions {
    font-size: 90%;
    padding-left: 12.5%;
    padding-right: 5%;
}

.pure-form input[type=text] {
    display: inline-block;
    margin: 0 5px 0 0;
}

.pure-form button[type=submit] {
    display: inline-block;
    margin: 0;
}
