<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>Rfmappr</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" 
                integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" 
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" 
            crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" 
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" 
            crossorigin=""></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/universal.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  		{% include 'includes/ga_tracking.html' %}
    </head>
    <body>
        <div id="map"></div>
        <script src="{{ url_for('static', filename='js/map.js') }}" /></script>
        <script src="{{ url_for('static', filename='js/hashids.js') }}" /></script>
        {# see https://stackoverflow.com/questions/21626048/unable-to-pass-jinja2-variables-into-javascript-snippet #}
        <script type="text/javascript">
          const export_url = JSON.parse(
              '{{url_for('export_selection', hashid='', _external=True) | tojson}}');
        </script>
        <script src="{{ url_for('static', filename='js/kbcommands.js') }}" /></script>
        <script>
          
          var visitedLayer = L.layerGroup();
          var unvisitedLayer = L.layerGroup();
          {# feature group needed for getBounds() #}
          var allMarkerGroup = L.featureGroup({bubblingMouseEvents: true});
          {% for marker in markers %}
            M = L.circleMarker([{{marker['lat']}}, {{marker['lon']}}], {
                color: {{marker['color']|safe}},
                weight: 1,
                fillColor: {{marker['color']|safe}},
                fillOpacity: 0.5,
                radius: 4,
                ID: {{marker['ID']}}
            })
            .bindPopup("{{marker['popup']}}")
            .on('mouseover', function (e) {
                this.openPopup();
                })
            .on('mouseout', function (e) {
                this.closePopup();
                })
            .addTo(allMarkerGroup);
            
            if ({{marker['color']|safe}} == 'green') {
                M.addTo(visitedLayer)
            } else {
                M.addTo(unvisitedLayer)
            }
            
          {% endfor %}
          
          visitedLayer.addTo(map);
          unvisitedLayer.addTo(map);
          
          controlBox = L.control.layers(null, null, { collapsed: false});
          controlBox.addOverlay(visitedLayer, "visited");
          controlBox.addOverlay(unvisitedLayer, "unvisited");
          controlBox.addTo(map);

          map.flyToBounds(allMarkerGroup.getBounds(), { padding: [25, 25] });
          {# required to enable map to handle keyboard commands right away #}          
          document.getElementById('map').focus();
        </script>        
        
    </body>

</html>
