<!DOCTYPE html>
<html lang="en">
    <head>
      	{% include 'includes/head.html' %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" 
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" 
            crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" 
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" 
            crossorigin=""></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
        <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
        <script src="https://kit.fontawesome.com/1d59cace02.js" 
            crossorigin="anonymous"></script>
  		{% include 'includes/ga_tracking.html' %}
    </head>
    <body>
        <div id="map"></div>
        <script src="{{ url_for('static', filename='js/map.js') }}" /></script>
        <script src="{{ url_for('static', filename='js/hashids.js') }}" /></script>
        {# see https://stackoverflow.com/questions/21626048/unable-to-pass-jinja2-variables-into-javascript-snippet #}
        <script type="text/javascript">
          const table_url = JSON.parse(
              '{{url_for('table_selection', hashid='', _external=True) | tojson}}');
          const home_url = JSON.parse(
              '{{url_for('home_page') | tojson}}');
        </script>
        <script src="{{ url_for('static', filename='js/ui_commands.js') }}" /></script>
        <script>
          var MOBILE = L.Browser.mobile ? true : false;
          var visitedLayer = L.layerGroup();
          allLayerGroups.push(visitedLayer);
          var unvisitedLayer = L.layerGroup();
          allLayerGroups.push(unvisitedLayer);
          {# feature group needed for getBounds() #}
          var allMarkerGroup = L.featureGroup();
          allLayerGroups.push(allMarkerGroup);
          {% for marker in markers %}
            M = L.circleMarker([{{marker['lat']}}, {{marker['lon']}}], {
                ID: {{marker['ID']}},
                color: {{marker['color']|safe}},
                weight: 1,
                fillColor: {{marker['color']|safe}},
                fillOpacity: 0.5,
                radius: 5,
                {% if marker['honor-roll']|safe == 'y' %}
                    className: 'honor-roll',
                {% endif %}
                originalColor: {{marker['color']|safe}},
                selected: 'no',
            })
            .bindPopup("<div class='marker-popup'>{{marker['popup']|safe}}</div>")
            .on('mouseover', function(e) {
                this.openPopup();
                })
            .on('mouseout', function(e) {
                this.closePopup();
                })
            .on('click', clickselect)
            .addTo(allMarkerGroup);
            
            {% if marker['color']|safe == "'green'" %}
                M.addTo(visitedLayer);
            {% else %}
                M.addTo(unvisitedLayer);
            {% endif %}
            
          {% endfor %}
          
          visitedLayer.addTo(map);
          unvisitedLayer.addTo(map);
          
          controlBox = L.control.layers(null, null, { collapsed: false});
          controlBox.addBaseLayer(CartoDB_Voyager, "map style 1");
          controlBox.addBaseLayer(OpenStreetMap, "map style 2");
          controlBox.addOverlay(visitedLayer, "visited");
          controlBox.addOverlay(unvisitedLayer, "unvisited");
          controlBox.addTo(map);

          L.control.scale({imperial: true, metric:false}).addTo(map);

          map.flyToBounds(allMarkerGroup.getBounds(), { padding: [25, 25] });
          {# required to enable map to handle keyboard commands right away #}          
          document.getElementById('map').focus();
        </script>        
        <script src="{{ url_for('static', filename='js/ui_toolbar.js') }}"></script>
                
    </body>

</html>
