<!DOCTYPE html>
<html lang="en">
    <head>
      	{% include 'includes/head.html' %}
        <link rel="stylesheet" type="text/css" 
            href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.5/fc-4.0.2/datatables.min.css"/>
      	{% include 'includes/ga_tracking.html' %}
  </head>
  <body>
    
    {# https://flask-table.readthedocs.io/en/stable/#quick-start #}
    {{ table }}

    {# https://datatables.net/ #}
    <script type="text/javascript" 
    src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.5/fc-4.0.2/datatables.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#data').DataTable( {
            "pageLength": 15,
            "columnDefs": [
                {
                {# The `data` parameter refers to the data for the column being targeted #}
                    "render": function ( data, type, row ) {
                        let goog_prefix = "https://google.com/search?q=";
                        let goog_uri = `${goog_prefix}+${data}+${row[1]}+${row[2]}`;
                        let uri_prefix = '<a href="';
                        let uri_suffix = '" target="_blank">';
                        let cell_html = `${uri_prefix}${encodeURI(goog_uri)}${uri_suffix}${data}</a>`
                        return cell_html;
                    },
                "targets": 0
                },
            ]
        });
      });
    </script>
    <ul>
    <li><a href="{{ url_for('recall_selection', hashid=hashid) }}">
        Permalink</a> to map view for this selection</li>
    <li><a href="{{ url_for('table_selection', hashid=hashid) }}">
        Permalink</a> to table view for this selection</li>
    <li><a href="{{ url_for('export_selection', hashid=hashid) }}">
        Export</a> this selection as a spreadsheet file</li>
    </ul>
  </body>
</html>
